@import "https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@font-face {
  font-family: AvionicWideObliqueBlack;
  src: url("../AvionicWideObliqueBlack.79278c0b.otf") format("opentype");
}

body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

:root {
  --step-0: clamp(1.13rem, calc(1.04rem + .43vw), 1.38rem);
  --step-1: clamp(1.27rem, calc(1.13rem + .67vw), 1.65rem);
  --step-2: clamp(1.42rem, calc(1.23rem + .97vw), 1.98rem);
  --step-3: clamp(1.6rem, calc(1.33rem + 1.35vw), 2.38rem);
  --step-4: clamp(1.8rem, calc(1.44rem + 5vw), 6rem);
  --step-5: clamp(2.03rem, calc(1.54rem + 7vw), 8rem);
  --button-font-size: clamp(.6rem, calc(.7rem + .43vw), 1.38rem);
  --avionic: "AvionicWideObliqueBlack", sans-serif;
  --exo: "Exo 2", sans-serif;
  --black: #141414;
  --grey: #141414;
  --white: #fff;
  --white-20: #fff3;
  --white-5: #ffffff80;
  --card-height: 20rem;
  --card-width: calc(var(--card-height) / 1.5);
  --currentOptionColor: transparent;
}

::selection {
  color: var(--white);
  background-color: var(--black);
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 0;
}

.display-hide {
  opacity: 0;
  display: none;
}

.display-show {
  opacity: 1;
  display: block;
}

.blocker {
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #fff;
  background-color: #000;
  position: absolute;
  overflow: hidden;
}

.black-to-white {
  filter: invert();
  fill-opacity: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: var(--exo);
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.t-bold {
  font-weight: 800;
}

.t-normal {
  font-weight: 400;
}

.t-thin {
  font-weight: 200;
}

.t-italic {
  font-style: italic;
}

.t-stroke-black {
  color: #0000;
  -webkit-text-stroke: 1px var(--black);
}

.t-stroke-white {
  color: #0000;
  -webkit-text-stroke: 1px var(--white);
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-white {
  color: var(--white);
}

.t-black {
  color: var(--black);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

p, a {
  font-size: var(--step-0);
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

button, i {
  cursor: pointer;
}

.specifications-wrapper {
  background-color: var(--grey);
  color: var(--grey);
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  display: flex;
}

.table {
  max-width: 100%;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 auto;
  display: table;
  box-shadow: 0 1px 3px #fff3;
}

.row {
  color: #fff;
  font-weight: 500;
  transition: all .5s;
  display: table-row;
}

.row:hover {
  color: #000;
  background-color: #fff;
  transition: all .5s;
}

.row.header {
  color: var(--grey);
  font-weight: 700;
  font-size: var(--step-0);
  background: #fff;
}

.cell {
  padding: .75rem 1rem;
  display: table-cell;
}

body::-webkit-scrollbar {
  display: hidden;
  width: 0;
  background-color: #020202;
}

body::-webkit-scrollbar-track {
  display: hidden;
  background-color: #020202;
}

body::-webkit-scrollbar-thumb {
  display: hidden;
  background-color: var(--white);
  border-radius: 1px;
}

header {
  width: 100%;
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  z-index: 9999;
  background-color: #141414e6;
  padding: 1rem 5rem;
  position: sticky;
  inset: 0 0 auto;
}

@supports ((-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%))) or ((-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%))) {
  header header {
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    background-color: #141414e6;
  }
}

header .navbar {
  color: #fff;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  display: flex;
}

header .navbar #navbar-Logo {
  cursor: pointer;
  max-width: 15%;
  min-width: 6rem;
  filter: invert();
}

header .fa-bars {
  font-size: var(--step-0);
}

header .navbar-CTA {
  font-size: var(--button-font-size);
  white-space: nowrap;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: #0000;
  margin-left: auto;
  padding: .5rem 1rem;
  transition: background-color .5s, color .5s;
}

header .navbar-CTA:is(:hover, :active) {
  color: var(--black);
  background-color: var(--white);
  transition: background-color .5s, color .5s;
}

header .menu {
  width: 100%;
  height: 100svh;
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  background-color: #141414fc;
  position: fixed;
  inset: 0;
  overflow: hidden;
  transform: translateX(-100%);
}

header .menu .button {
  font-size: var(--step-3);
  position: absolute;
  top: 1rem;
  right: 5%;
}

header .menu .button .fa-times {
  color: red;
}

header .menu ul {
  text-align: center;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  line-height: 4rem;
  display: flex;
}

header .menu ul li a {
  font-size: var(--step-3);
  color: #fff;
  text-decoration: none;
  transition: all .5s;
}

.index .hero {
  width: 100%;
  height: 100vh;
  background-color: var(--grey);
}

.index .hero .swiper {
  width: 100vw;
  height: 100vh;
  background-color: var(--grey);
}

.index .hero .swiper .swiper-slide {
  position: relative;
}

.index .hero .swiper .swiper-slide .hero-bg-img {
  width: 100%;
  min-width: 100%;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: right center;
  -o-object-position: right center;
}

.index .hero .swiper .swiper-slide .card {
  background-color: var(--grey);
  color: var(--white);
  z-index: 9999;
  width: clamp(20rem, 40%, 50rem);
  padding: 1rem;
  position: absolute;
  top: 60%;
  left: 0;
}

.index .hero .swiper .swiper-button-prev, .index .hero .swiper .swiper-button-next {
  color: var(--white);
}

.single-bike .hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.single-bike .hero .parallax {
  transition: all .45s cubic-bezier(.2, .49, .32, .99);
  transform: translate(-50%, -50%);
}

.single-bike .hero .bg-img {
  z-index: 0;
  width: 2800px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.single-bike .hero .text {
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  pointer-events: auto;
  position: absolute;
  top: calc(50% - 250px);
  left: 50%;
}

.single-bike .hero .text h1 {
  font-weight: 800;
  font-family: var(--avionic);
}

.single-bike .hero .text h2 {
  letter-spacing: .3rem;
  font-weight: 300;
  font-size: var(--step-3);
  margin-top: -.5rem;
}

.single-bike .hero .bike {
  z-index: 3;
  height: 100%;
  position: absolute;
  top: 51%;
  bottom: 0;
  left: 50%;
}

.single-bike .hero .fog-2 {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.single-bike .hero .vignette {
  z-index: 100;
  width: 100%;
  height: 100%;
  background: radial-gradient(#0000 50%, #000000b3);
  position: absolute;
  top: 0;
  left: 0;
}

.single-bike .view-360 {
  color: #fff;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.single-bike .view-360 .wrapper-360 {
  width: clamp(25rem, 70%, 60vw);
  background-color: #fff;
  overflow: hidden;
}

.single-bike .currentOption {
  background-color: var(--currentOptionColor);
  border: 3px solid #000;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  margin: 1rem;
  padding: .5rem 2rem;
  display: flex;
  top: -50%;
}

.single-bike .currentOption p {
  font-size: 16px;
}

.single-bike .options-wrapper {
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
}

.single-bike .options-wrapper button {
  height: 4rem;
  width: 4rem;
  background-color: red;
  border: 0;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  display: flex;
}

.single-bike .options-wrapper button:is(:active, :hover) {
  outline-offset: 2px;
  outline: 2px solid #000;
}

.single-bike .options-wrapper .activeBtn {
  outline-offset: 2px;
  outline: 2px dashed #000;
  animation: 5s linear infinite rotate;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.single-bike .options-wrapper .blueOption {
  --currentOptionColor: #54ccfe;
  background-color: #54ccfe;
}

.single-bike .options-wrapper .neonOption, .single-bike .options-wrapper .neonAlloyOption {
  --currentOptionColor: #cf0;
  background-color: #cf0;
}

.single-bike .options-wrapper .orangeOption, .single-bike .options-wrapper .orangeAlloyOption {
  --currentOptionColor: #fa4519;
  background-color: #fa4519;
}

.single-bike .options-wrapper .redOption, .single-bike .options-wrapper .redAlloyOption {
  --currentOptionColor: #f82844;
  background-color: #f82844;
}

.single-bike .options-wrapper .spok-wheels, .single-bike .options-wrapper .alloy-wheels {
  width: 100%;
}

.single-bike .sectionStyle {
  width: 100%;
  background-color: var(--white);
  color: #000;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  display: flex;
}

.single-bike .sectionStyle img {
  max-width: 100%;
  height: auto;
  background: radial-gradient(circle, #99dffa33 30%, #fff0 50%);
  display: block;
  position: relative;
}

.single-bike .bgToBlack {
  color: #fff;
}

.single-bike .clutch {
  background-color: var(--grey);
  color: #fff;
}

.single-bike .clutch .clutchImg-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.single-bike .illuminate {
  width: 100vw;
  height: 100vh;
  background-color: var(--grey);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.single-bike .illuminate p {
  font-size: var(--step-5);
  text-align: center;
  cursor: default;
  font-weight: 900;
}

.single-bike .illuminate .glow-gradient {
  color: #202020;
  text-shadow: 0 0 #fff;
  text-shadow: none;
}

.single-bike .illuminate .t-glow {
  color: var(--white);
  text-shadow: 0 0 10px #fff;
}

.single-bike .led {
  background-color: var(--grey);
}

.single-bike .led img {
  max-width: 100%;
}

.animPage {
  height: 100vh;
  width: 100vw;
  background-color: var(--grey);
}

.keyTextAnimations {
  width: 100%;
  height: 100%;
  position: relative;
}

.keyTextAnimations .key1 {
  width: 40%;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 5%;
}

.keyTextAnimations2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.keyTextAnimations2 .key2 {
  width: 40%;
  font-weight: 500;
  position: absolute;
  top: 20%;
  left: 3%;
}

.keyTextAnimations2 .key3 {
  width: 40%;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: 20%;
  right: 3%;
}

.keyTextAnimations2 .key4 {
  width: 40%;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  right: 3%;
}

.footer-section {
  width: 100%;
  background: #141414;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  display: flex;
}

.footer-section a {
  color: #fff;
}

.footer-section .links {
  width: 100%;
  border-top: 1px solid #ffffff80;
  border-bottom: 1px solid #ffffff80;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.footer-section .footer-top {
  margin-bottom: -1rem;
  transition: background-color .5s, color .5s;
}

.footer-section .footer-top:hover, .footer-section .footer-bottom:hover {
  background-color: #fff;
  transition: background-color .5s, color .5s;
}

.footer-section .footer-top:hover a, .footer-section .footer-bottom:hover a {
  color: #000;
  font-weight: 500;
  transition: all .5s;
}

.footer-section .footer-top:hover :not(a:hover), .footer-section .footer-bottom:hover :not(a:hover) {
  color: gray;
  font-weight: 400;
  transition: all .5s;
}

.footer-section .footer-bottom {
  margin-top: -1rem;
  transition: background-color .5s, color .5s;
}

.footer-section .zontes-logo {
  filter: invert();
  width: 11rem;
  margin: 0 auto;
  transition: filter .25s;
}

.footer-section .zontes-logo:hover {
  filter: invert(.5);
  margin: 0 auto;
  transition: filter .5s;
}

.about-us-wrapper {
  width: 100%;
  background-color: #000;
  flex-direction: column;
  padding: 0 5rem 5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.about-us-wrapper .zontes-vid-1 {
  z-index: 0;
  width: 100%;
  position: absolute;
  inset: -14% 0 0;
  -webkit-mask-image: linear-gradient(#000, #0000);
  mask-image: linear-gradient(#000, #0000);
}

.about-us-wrapper .about-us-details {
  z-index: 2;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.about-us-wrapper .about-us-logo {
  width: clamp(5rem, 20%, 30rem);
  pointer-events: none;
  margin: 0 auto;
  transition: filter .25s;
}

.about-us-wrapper .about-us-logo:hover {
  filter: invert(.5);
  margin: 0 auto;
  transition: filter .5s;
}

.about-us-wrapper .about-us-desc {
  margin-bottom: 2rem;
  line-height: 2rem;
}

.about-us-wrapper #zontes-logo {
  filter: invert();
  margin-bottom: 2rem;
}

.Iron-Monk-Logo {
  filter: invert();
  width: clamp(5rem, 20%, 30rem);
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  display: flex;
}

.home-models {
  background-color: var(--grey);
  color: #fff;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  display: flex;
}

.home-models .models {
  flex-flow: wrap;
  justify-content: center;
  gap: 2rem;
  display: flex;
}

.home-models .card {
  width: var(--card-width);
  height: var(--card-height);
  perspective: 2500px;
  justify-content: center;
  align-items: flex-end;
  padding: 0 3rem;
  display: flex;
  position: relative;
}

.home-models .cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-models .wrapper {
  width: 100%;
  z-index: -1;
  transition: all .5s;
  position: absolute;
}

.home-models .cover-image {
  transition: filter .5s;
}

.home-models .card:hover .wrapper {
  transform: perspective(900px)translateY(-5%)rotateX(25deg)translateZ(0);
  box-shadow: 0 1px 3px #fff3;
}

.home-models .card:hover .wrapper .cover-image {
  filter: blur(2px);
  transition: filter .5s;
}

.home-models .title {
  width: 100%;
  transition: transform .5s;
}

.home-models .card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.home-models .bike-model {
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: all .5s;
  position: absolute;
}

.home-models .card:hover .bike-model {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.index-loader-video-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.index-loader-video-wrapper .index-logo {
  box-sizing: border-box;
  width: clamp(5rem, 50%, 30rem);
}

.animpage {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}

.features-wrapper {
  background-color: var(--grey);
  overflow: hidden;
}

.features {
  width: 700%;
  flex-wrap: nowrap;
  display: flex;
  overflow-x: hidden;
}

.half-feature-viewer {
  background-color: var(--grey);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.half-feature-viewer .topHalf {
  width: 100%;
  height: 50%;
  background-image: url("../led.2198b69b.webp");
  background-size: cover;
}

.half-feature-viewer .bottomHalf {
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
  display: flex;
}

.brakingABS .topHalf {
  width: 100%;
  height: 50vh;
  background-image: url("../abs.af30244b.webp");
  background-position-y: 55%;
  background-size: cover;
}

.fuelTank .topHalf {
  width: 100%;
  height: 50vh;
  background-image: url("../fuel.219aba70.webp");
  background-size: cover;
}

.tyres .topHalf {
  width: 100%;
  height: 50vh;
  background-image: url("../tyres.7d600f15.webp");
  background-size: cover;
}

.shock .topHalf {
  width: 100%;
  height: 50vh;
  background-image: url("../shock.1863c3c3.webp");
  background-position-y: 40%;
  background-size: cover;
}

.exhaust .topHalf {
  width: 100%;
  height: 50vh;
  background-image: url("../exhaust.dfa21917.webp");
  background-position-y: 40%;
  background-size: cover;
}

.seating .topHalf {
  width: 100%;
  height: 50vh;
  background-image: url("../seat.5e2d1d85.webp");
  background-size: cover;
}

.contact {
  background-color: var(--grey);
  padding: 1rem;
}

.contact .contactForm-wrapper {
  flex-wrap: wrap;
  display: flex;
}

.contact .section-header {
  text-align: center;
  color: #fff;
  margin: 1rem 0;
}

.contact form {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
}

.contact .form-group, .contact .form-group input, .contact .form-group textarea, .contact .form-group select, .contact .form-group button {
  width: 100%;
}

.contact .form-group textarea {
  margin-top: 2rem;
}

.contact .form-group #Message {
  height: 5rem;
}

.contact .form-control, .contact select {
  background-color: var(--grey);
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}

.contact #submit {
  font-size: var(--button-font-size);
  white-space: nowrap;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: #0000;
  margin-left: auto;
  padding: 1rem 2rem;
  transition: background-color .5s, color .5s;
}

.contact #submit:is(:hover, :active) {
  color: var(--black);
  background-color: var(--white);
  transition: background-color .5s, color .5s;
}

/*# sourceMappingURL=main.css.map */
